<div class="logo-component">
    <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxz
dmcgd2lkdGg9IjEzMnB4IiBoZWlnaHQ9IjM0cHgiIHZpZXdCb3g9IjAgMCAxMzIgMzQiIHZlcnNp
b249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0i
aHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJv
aGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiPgogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCAz
LjQuMSAoMTU2ODEpIC0gaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoIC0tPgog
ICAgPHRpdGxlPlNFQVJPICsgUmVjdGFuZ2xlIDM8L3RpdGxlPgogICAgPGRlc2M+Q3JlYXRlZCB3
aXRoIFNrZXRjaC48L2Rlc2M+CiAgICA8ZGVmcz48L2RlZnM+CiAgICA8ZyBpZD0iUGFnZS0xIiBz
dHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVu
b2RkIiBza2V0Y2g6dHlwZT0iTVNQYWdlIj4KICAgICAgICA8ZyBpZD0iTm8tcmVzdWx0IiBza2V0
Y2g6dHlwZT0iTVNBcnRib2FyZEdyb3VwIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTIyLjAwMDAw
MCwgLTY0LjAwMDAwMCkiIGZpbGw9IiNGRkZGRkYiPgogICAgICAgICAgICA8ZyBpZD0iU0VBUk8t
Ky1SZWN0YW5nbGUtMyIgc2tldGNoOnR5cGU9Ik1TTGF5ZXJHcm91cCIgdHJhbnNmb3JtPSJ0cmFu
c2xhdGUoMTIxLjAwMDAwMCwgNTUuMDAwMDAwKSI+CiAgICAgICAgICAgICAgICA8dGV4dCBpZD0i
U0VBUk8iIHNrZXRjaDp0eXBlPSJNU1RleHRMYXllciIgZm9udC1mYW1pbHk9IkF2ZW5pciIgZm9u
dC1zaXplPSIzNiIgZm9udC13ZWlnaHQ9IjY4NiIgbGV0dGVyLXNwYWNpbmc9IjIiPgogICAgICAg
ICAgICAgICAgICAgIDx0c3BhbiB4PSIwIiB5PSIzNiI+U0VBUk88L3RzcGFuPgogICAgICAgICAg
ICAgICAgPC90ZXh0PgogICAgICAgICAgICAgICAgPHJlY3QgaWQ9IlJlY3RhbmdsZS0zIiBmaWxs
LW9wYWNpdHk9IjAuNDk0MTEyMzE5IiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIiB0cmFuc2Zv
cm09InRyYW5zbGF0ZSgxMjYuMzYzOTYxLCAzNi4zNjM5NjEpIHJvdGF0ZSgtNDUuMDAwMDAwKSB0
cmFuc2xhdGUoLTEyNi4zNjM5NjEsIC0zNi4zNjM5NjEpICIgeD0iMTIzLjg2Mzk2MSIgeT0iMjku
ODYzOTYxIiB3aWR0aD0iNSIgaGVpZ2h0PSIxMyI+PC9yZWN0PgogICAgICAgICAgICA8L2c+CiAg
ICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4=" alt="Logo">
</div>